<% include partials/_header %>
<form action="/login" method="POST">
  <div class="form-group">
    <input
      type="password"
      name="mdp"
      placeholder="Login"
      class="form-control"
      autofocus
    />
  </div>
  <button type="submit" class="btn btn-primary">Se Connecter</button>
</form>
<% include partials/_footer %>
